<div class="formwrapper">
    <ul class="pageBar">
      <li class="pagetype"><a href="">Home</a></li>
      <li class="pagetype"><a href="admin">Admin</a></li>
      <li class="pagetype"><a href="reservation">Reservations</a></li>
    </ul>
    <br>
    <br>
    <h2 class="title">Trip Reservation System</h2>
    <form method="POST" action="/">
      <p>Select to login as an admin or make a reservation.</p>  
      <div>
        <ul class="pagetype"><a href="admin">Admin</a></ul>
        <ul class="pagetype"><a href="reservations">Reservations</a></ul>
      </div>
  
  </div>
